.projects-sect {
  min-height: 79vh;
  width: 90%;
  margin: auto;
}

.projects-title {
  font-size: 2.5rem;
  text-align: center;
  margin: 15px 0;
  padding: 15px;
  border-bottom: 2px solid var(--light-wine);
}

.project-name {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 32px;
  font-size: 2rem;
}

.project-btn {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: var(--light-wine);
  color: var(--light-pink);
  cursor: pointer;
  margin: 12px auto;
  text-decoration: none;
  display: flex;
  width: fit-content;
}

.project-btn:hover {
  background-color: var(--light-pink);
  color: var(--light-wine);
}
