.projects-sect {
  min-height: 79vh;
  width: 90%;
  margin: auto;
}

.projects-title {
  font-size: 2.5rem;
  text-align: center;
  margin: 15px 0;
  padding: 15px;
  border-bottom: 2px solid var(--light-wine);
}

.projects-list {
  padding: 10px;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 100%;
}

.project-item {
  width: 10%;
  text-align: center;
}

.small-proj {
  font-size: 1.6rem;
}

.active {
  text-align: center;
  max-width: 800px;
  width: 60%;
  min-width: 300px;
}

.project-module {
  font-size: 1.6rem;
  margin: 12px;
}

.icon {
  color: var(--light-pink);
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.project-name {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 12px;
  font-size: 2rem;
}

.project-img {
  border-radius: 15px;
  width: 500px;
  height: 500px;
  max-width: 80%;
  margin: 16px;
  object-fit: cover;
}

.project-description p {
  margin: 24px 0;
}

.project-link {
  display: block;
  background-color: var(--light-pink);
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--light-wine);
  font-size: 1.3rem;
  font-weight: 700;
  margin: 30px auto 15px;
  width: fit-content;
}

.project-link:hover {
  background-color: var(--light-wine);
  color: var(--light-pink);
}

.btn-sect {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 32px auto;
}

.project-btn {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: var(--light-wine);
  color: var(--light-pink);
  cursor: pointer;
  margin: 8px;
}

.project-btn:hover {
  background-color: var(--light-pink);
  color: var(--light-wine);
}
