.projects-sect {
  min-height: 79vh;
  width: 90%;
  margin: auto;
}

.projects-title {
  font-size: 2.5rem;
  text-align: center;
  margin: 15px 0;
  padding: 15px;
  border-bottom: 2px solid var(--light-wine);
}

.projects-module {
  font-size: 2rem;
  text-align: center;
  margin: 15px auto;
  padding: 15px;
  border-bottom: 1px solid var(--light-wine);
  width: fit-content;
}

.projects-list {
  width: fit-content;
  padding: 10px;
  font-size: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 100%;
}

.project-item {
  list-style: none;
  text-align: center;
}

.project-name {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 15px;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.project-img {
  opacity: 0;
  border-radius: 15px;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.project-link {
  border-radius: 15px;
  box-shadow: 0 0 5px var(--light-pink);
  display: flex;
  align-items: center;
  background-color: var(--light-pink);
  padding: 10px;
  text-decoration: none;
  color: var(--light-wine);
  margin: 20px;
  width: 250px;
  text-align: center;
  height: 250px;
  position: relative;
}

.project-link:hover {
  background-color: var(--light-wine);
  color: var(--light-pink);
  box-shadow: 0 0 10px var(--light-wine) , 0 0 20px var(--light-pink);
}

.project-link:hover .project-img {
  opacity: 1;
  transition: ease 1s;
}
